.encounter {
	.row {
		display: flex;
		justify-content: space-around;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(5, auto);
		width: auto;
		justify-content: center;
		align-content: start;
		gap: 0.5rem;

		h2 {
			grid-column: span 5;
			text-align: center;
			margin: 0;
		}
	}
}
