main.explorer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	
	ul {
		margin: auto;

		li {
			text-align: left;
		}
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(4, auto);
		justify-content: center;
		justify-items: left;
		gap: 0 1rem;
	}
}
