.input {
	background: var(--bg);
	color: var(--fg);
	border: solid 1px var(--border);
	border-radius: 5px;

	&[type="number"] {
		width: 2rem;
	}

	&[type="button"] {
		width: 4rem;
		cursor: pointer;
	}
}
